.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 20px;
    z-index: 10; /* Um valor alto para garantir que fique acima do header */
  }